body{
    background-color: #241B15;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body::-webkit-scrollbar{
    display: none;
}
#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
header{
    border-bottom: 1px solid;
    box-shadow: 0px 5px 7px black;
    width: 100%;
}
.headDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading{
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F3E6C7;
    padding: 0.5em;
}
.heading:hover{
    color: #59D9F9;
}
nav{
    background-color: #1A1411;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    min-height: 5em;
    width: 100%;
}
.navBut{
    background-color: #6B2D2D;
    color: #FFF6E3;
    font-size: 1.5rem;
    transition: all .2s ease;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 6px black;
}
.navBut:hover{
    background-color: #8C3838;
    transform: translateY(-2px);
}
.navBut:active{
    transform: scale(0.95);
    box-shadow: 2px 2px 3px gray;
}
#contain{
    margin-top: 2em;
}
.heroText{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction:column;
    height: 8em;
    width: 100%;
    border-bottom: 1px solid;
    box-shadow: 0px 2px 7px black;
}
.divHeroText{
    color: #CDBB9A;
    font-size: 2rem;
    line-break: 4em;
    padding-left: 2em;
}
.tableDiv{
    padding-left: 5em;
}
.table{ 
    background-color: #6B2D2D;
    color: #FFF6E3;
    border: none;
    height: 2.5em;
    width: 10em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 6px black;
}
.table:hover{
    background-color: #8C3838;
    transform: translateY(-2px);
}
.table:active{
    transform: scale(0.95);
    box-shadow: 2px 2px 3px gray;
}
.heroImg{
    margin-top: 2em;
    width: 100%;
    height: 50em;
    overflow-y: hidden;
    background-image: url(magict.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature{
    display: flex;
    justify-content: space-evenly;
    background-color: #1A1411;
    border: none;
    border-radius: 2em;
    padding: 1em;
    align-items: center;
    margin: 2em;
    margin-top: 3em;
    color: #CDBB9A;
    font-size: 2.5rem;
    gap: .5em;
}
.leftYap{
    font-size: 3rem;
    line-height: 1.5em;
}
.leftYapText{
    font-size: 2.5rem;
}
.rightYap{
    font-size: 3rem;
    padding: 1em;
}
.rightYapCell{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr;
    transition: all 0.15s ease;
}
.cell{
    text-align: center;
    border: none;
    border-radius: 1em;
    margin: 0.5em;
    width: 8em;
    height: 4em;
    padding: 0.5em;
    background-color: #33261E;
}
.cell:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 7px black;
}


/*menu section*/

.menHead{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 6px black;
}
.menuHeading{
    font-size: 3rem;
    color: #F3E6C7;
}
.warning{
    padding-top: 1em;
    font-size: 2rem;
    color: #CDBB9A;
    padding-bottom: 0.5em;
}
.onHouse{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: #CDBB9A;
    padding: 1em;
}
.foHead{
    font-size: 3rem;
    color: #F3E6C7;
    text-align: center;
}
.gridContain1{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 1fr;
    padding: 1em;
    margin: 2em;
    justify-content: center;
    overflow-y: auto;
}
.gridContain2{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 1fr;
    padding: 1em;
    margin: 2em;
    overflow-y: auto;
    justify-content: center;
}
.gridContain3{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 1fr;
    padding: 1em;
    margin: 2em;
    overflow-y: auto;
    justify-content: center;
}
.gridContain4{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 1fr;
    padding: 1em;
    margin: 2em;
    overflow-y: auto;
    justify-content: center;
}
.gridCell{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 1em;
    margin: 0.5em;
    width: 20em;
    height: 15em;
    padding: 0.5em;
    background-color: #4A3428;
    font-size: 1rem;
}
.gridCell:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 7px black;
}

/* about section*/

.containerAbout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    margin: 1em;
}
.story{
    width: 50%;
    font-size: 3rem;
    color: #F3E6C7;
    border: none;
}
.lore{
    color: #CDBB9A;
    font-size: 2rem;
    line-height: 1.2em;
    margin-top: 0.3em;
}
.reminder{
    font-size: 3rem;
    margin-top: 1em;
    color: #F3E6C7;
}
.remindYap{
    color: #CDBB9A;
    font-size: 2rem;
    margin-top: 0.3em;
}

.seat{
    width: 50%;
    text-align: center;
    font-size: 3rem;
    color: #F3E6C7;
    gap: 2em;
}
fieldset{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    height: 100vh;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 6px 6px 6px black;
}
input{
    height: 2em;
    width: 25em;
    border: none;
    border-radius: 1em;
    transition: all 0.15s ease;
}
input:hover{
    transform: scale(1.03);
    box-shadow: 3px 3px 6px black ;
}
legend{
    font-size: 3rem;
    color: #F3E6C7;
}
.submit{
    font-size: 2rem;
    color: #FFF6E3;
    background-color: #6B2D2D;
    transition: all .2s ease;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 6px black;
}
.submit:hover{
    background-color: #8C3838;
    transform: translateY(-2px);
}
.submit:active{
    transform: scale(0.95);
    box-shadow: 2px 2px 3px gray;
}
.dialog::-webkit-scrollbar{
    display: none;
}
.dialog:open{

    border: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: transparent;
    background-image: url(8176457153222a9b4ebd0cd18b5a7bb0-removebg-preview.png);
    height: 800px;
    width: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em;
    font-size: 2.5rem;
    text-align: center;
}
.to{
    font-size: 2rem;
    padding-bottom: 1em;
}
.dialogYapp{
    font-size: 1.5rem;
    text-align: left;
}
.dialogYap{
    font-size: 1.5rem;
    text-align: left;
}
.dialogYap4{
    padding-top: 0.5em;
    text-align: left;
    font-size: 1.5rem;
}



footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    box-shadow: 0 -5px 6px black;
    width: 100%;
    font-size: 2.5rem;
    color: #CDBB9A;
    margin-top: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    gap: 0.5em;
}